@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-image: url("/BGPlanet.jpg");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

body {
  background-image: var(--bg-image);
  background-color: var(--background);;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
